[Unit]
Description=Terra Oracle
After=network.target

[Service]
Type=simple
User=tr-service
WorkingDirectory=/data/terrad/terra_oracle_voter
ExecStart=/usr/bin/python3 -u /data/terrad/terra_oracle_voter/terra_oracle_vote.py
Restart=always
RestartSec=3

# Required configuration values
Environment=FCSAPI_KEY=
Environment=ALPHAVANTAGE_KEY=9E6SWSBE8RRD7Y13
Environment=FEEDER_ADDRESS=terra1naa8jwjdjexw80rrzayw5u6p7vuzlzjza7vkus
Environment=VALIDATOR_ADDRESS=terra1jsdfyz8uhw2nd7cl45709w40r268phmvxjh6fy
Environment=KEY_NAME=bi23_feeder
Environment=KEY_PASSWORD=shenqh135
Environment=HOME_CLI=/root/.terracli
Environment=NODE_RPC=tcp://127.0.0.1:24657
Environment=TERRACLI_BIN=/root/gocode/bin/terracli
Environment=TERRA_LCD=https://lcd.terra.dev/
Environment=CHAIN_ID=columbus-3
Environment=MISS_ALERTS=false
Environment=STOP_ORACLE_RECENT_DIVERGENCE=999999999999
Environment=STOP_ORACLE_EXCHANGE_DIVERGENCE=0.1
Environment=BID_ASK_SPREAD_MAX=0.05
Environment=FEE_GAS=200000
Environment=FEE_AMOUNT=4000
Environment=VWMA_PERIOD=0


[Install]
WantedBy=multi-user.target
